# Ignore rules for GIT (github.com, bitbucket.com, etc.)

*/.dn/cache
*/.dn/ide.lock
*/.dn/tmp
*/.dn/index.json
*/.dn/backup
*/.gradle/*
*/vendor
*/src_generated
*/src/JPHP-INF
*/src/.debug
*/build
*/build/*
*/build.xml

*.log
*.pid
*.tmp
*.sourcemap